# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pilecd\Desktop\Embry-Riddle\Classes\Spring 2021\CS 118\Python Projects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
